<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <groups>
        <exclude>
            <group>generate_new_invoice_template</group>
            <group>mollie_integration</group>
        </exclude>
    </groups>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
<!--        <env name="MOLLIE_KEY" value=""/>-->
<!--        <env name="MANDATED_CUSTOMER_DIRECTDEBIT" value=""/>-->
<!--        <env name="MANDATED_CUSTOMER_DIRECTDEBIT_MANDATE_ID" value=""/>-->
<!--        <env name="SUBSCRIPTION_MANDATE_PAYMENT_PAID_ID" value=""/>-->
<!--        <env name="MANDATE_PAYMENT_PAID_ID" value=""/>-->
<!--        <env name="PAYMENT_PAID_ID" value=""/>-->
<!--        <env name="PAYMENT_FAILED_ID" value=""/>-->
    </php>
</phpunit>
